*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Work sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, #43c6ac, #f8ffae);
  background-size: 400% 400%;
  -webkit-animation: backgroundAnimation 30s ease infinite;
  -moz-animation: backgroundAnimation 30s ease infinite;
  animation: backgroundAnimation 30s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  width: 60%;
  margin: auto;
  height: 100vh;
}

main > h1 {
  display: block;
  font-size: 3.125rem;
  margin: 0;
  top: 0;
  opacity: 0.2;
  z-index: -1;
}

main > h2 {
  display: block;
  font-size: 5.625rem;
  margin: 0;
  top: 0;
  opacity: 0.2;
  z-index: -1;
}

section {
  display: flex;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
}

section > div {
  display: flex;
  flex-direction: column;
}

img {
  height: 12rem;
  width: 12rem;
}

a {
  text-transform: rotate(90deg);
}
